@import '../../../styles/typography';
@import '../../../styles/colors';

.screen {
  width: 100%;
  min-height: 10rem;
  padding: 1.5rem 1rem;

  font-family: $font-primary;
  font-size: $text-size-large;
  font-weight: 300;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;

  &.error {
    color: $red;
  }
}