@import '../../../styles/typography';

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  padding: .5rem;

  &.sci {
    grid-template-columns: repeat(10, 1fr);

    .keypadButton {
      font-size: $text-size-small;
    }
  }
}

.keypadButtonContainer {
  padding: .5rem;
  min-height: 6rem;

  .keypadButton {
    width: 100%;
    height: 100%;
  }

  &.length2 {
    grid-column: span 2;
  }
}