@import './styles/colors';
@import './styles/typography';

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: $font-primary;
  color: $white;
  background-color: $black;
}

#root {
  width: 100vw;
  height: 100vh;
}

a {
  font-size: $text-size-small;
  font-family: $font-primary;
  text-decoration: none;
  color: $grey-300;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

h4 {
  font-size: $text-size-small;
  font-family: $font-primary;
  color: $grey-300;
  margin: 0;
}
