@import './styles/colors';
@import './styles/typography';

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: $font-primary;
  color: $white;
  background-color: $black;
}
